# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      PYTHONUNBUFFERED: "True"
      UV_LINK_MODE: "copy"

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Install uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh
        shell: bash

      - uses: actions/cache@v4
        id: cache-uv
        with:
          path: ~/.cache/uv
          key: ${{ runner.os }}-uv-${{ hashFiles('**/uv.lock') }}

      - name: Install Dependencies
        run: uv sync
        shell: bash

      - name: Code Quality
        run: |
          uv run pyright .
          uv run ruff check .
          uv run ruff format . --check --diff

      - name: Unit Tests
        run: |
          uv run pytest aoc/tests
